.releases-cards {
  margin-top: 50px;
}

.releases-cards > h1 {
  text-align: center;
  text-decoration: underline;
}

.releases-cards > p {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.card {
  padding: 10px;
  margin: 20px;
}

.card > h2 {
  padding-top: 20px;
}

.card > img {
  padding: 0;
  margin: 10px;
  border-radius: 20px;
}

.releases-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.album-artwork {
  position: relative;
}

/* newest release image styling */
.artwork {
  height: 250px;
  width: 250px;
  z-index: 8000;
  position: relative;
  box-shadow: var(--shadow-offset);
  border-radius: 3%;
}

.new-release-text {
  gap: 20px;
}

.new-release-img-container {
  position: relative;
}

.new-release-img-middle, .new-release-img-back, .new-release-img-front, .new-release-img-main {
  height: 250px;
  width: 250px;
  position: relative;
  box-shadow: none;
}

.new-release-img-main {
  position: absolute;
  z-index: 8000;
}

.new-release-img-middle, .new-release-img-back, .new-release-img-front {
  filter: blur(1px);
}
.new-release-img-front {
  /* display: none; */
  position: absolute;
  transform: translate(10px, -10px);
  z-index: 7000;
  opacity: 0.7;

}
.new-release-img-middle {
  /* display: none; */
  position: absolute;
  z-index: 8000;
  transform: translate(20px, -20px);
  opacity: 0.5;
}
.new-release-img-back {
  /* display: none; */
  z-index: 5000;
  transform: translate(30px, -30px);
  opacity: 0.3;
}

.cd-circle, .cd-album-circle {
  position: absolute;
  left: 80px;
  top: 20px;
  background-color: #f5f5f5;
  background-image: linear-gradient(147deg, #f5f5f5 20%, #8C92E0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px double black;
  box-shadow: var(--shadow-behind);
}

.cd-album-circle {
  background-color: #ffef9fff;
  background-image: linear-gradient(147deg, #ffef9fff 20%, #e0ce8c);
  display: flex;
}

.cd-album-circle.flipped {
  transition: transform 1s ease-in;
}

.tracklist {
  font-size: 1.1rem;
  color: var(--black);
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center
}

.tracklist-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flipped {
  z-index: 8900;
  transform: rotate(90deg);
}
