.releases-cards {
  margin-top: 50px;
  transition: all 0.4s ease-in-out;
}

.releases-cards > h2 {
  text-align: center;
  /* text-decoration: underline; */
  font-weight: 800;
  font-size: 3rem;
  margin: 20px 0;
}

.release-text {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  margin: 20px;
}

.card > h3 {
  padding-top: 20px;
  font-size: 1.8rem;
}

.card > img {
  padding: 0;
  margin: 10px;
  border-radius: 20px;
}

.releases-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.album-artwork {
  position: relative;
}

.show-all {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0px 0px 6px var(--black);
  border: none;
  background: inherit;
  cursor: pointer;
  color: inherit;
  transition: transform 0.2s ease-in-out;
  display: block;
  margin: 0 auto 30px;
}

.show-all:hover { transform: var(--hover-up) }

.fa-compact-disc {
  font-size: 2.5rem;
  transition: transform 0.4s ease-in-out;
}

.rotated {
  transform: rotate(360deg);
}

/* newest release image styling */
.new-release-text {
  gap: 20px;
}

.new-release-img-container, .release-img-container {
  position: relative;
  width: 250px;
  height: 250px;
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .large-screen-releases-header > h2 {
    font-size: 4rem;
  }
  .releases-cards {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 80%;
    margin: 50px auto 10px;
  }
  .large-screen-releases-header { gap: 20px; }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .large-screen-releases-header > h2 {
    font-size: 4rem;
  }
  .releases-cards {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 80%;
    margin: 50px auto 10px;
  }
  .release-img-container:hover + .cd-circle.hidden { transform: translate(-18px, 0px) }
  .large-screen-releases-header { gap: 20px; }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .large-screen-releases-header > h2 {
    font-size: 4rem;
  }
  .releases-cards {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 80%;
    margin: 50px auto 10px;
  }
  .release-img-container:hover + .cd-circle.hidden { transform: translate(-18px, 0px) }
  .large-screen-releases-header { gap: 20px; }
}
