.about {
  height: 100vh;
  text-align: justify;
  margin: auto;
  overflow-wrap: break-word;
  background: var(--dark-blue);
  color: var(--white);
}

.about > h1 {
  margin-bottom: 10px;
}

.about-text-paragraphs {
  gap: 20px;
  width: 70vw;
}

.about-text-paragraphs > a {
  transition: transform 0.2s ease-in-out;
}

.about-text-paragraphs > a:hover {
  transform: var(--hover-up);
}

.weblink {
  color: var(--white);
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

.weblink:hover {
  color: var(--blue);
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .about-text-paragraphs {
    max-width: 40%;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .about-text-paragraphs {
    max-width: 40%;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .about-text-paragraphs {
    max-width: 40%;
  }
}
