.about {
  height: 100vh;
  text-align: justify;
  margin: auto;
  overflow-wrap: break-word;
  background: var(--black);
  color: var(--white);
}

.about > h1 {
  margin-bottom: 10px;
}

.about-text-paragraphs {
  gap: 20px;
  width: 70vw;
}

.weblink {
  color: var(--yellow);
  font-size: 2rem;
}
