.about {
  height: 100dvh;
  text-align: justify;
  margin: auto;
  overflow-wrap: break-word;
  background: linear-gradient(var(--blue), var(--dark-blue));
  color: var(--white);
}

.banner2 {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
}

.about-text-paragraphs {
  gap: 20px;
  width: 80vw;
}

.about-text-paragraphs > a {
  transition: transform 0.2s ease-in-out;
}

.about-text-paragraphs > a:hover {
  transform: var(--hover-up);
}

.weblink {
  color: var(--yellow);
  font-size: 2rem;
  transition: color 0.3s ease-in-out;
}

.weblink:hover {
  color: var(--light-yellow);
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .about-text-paragraphs {
    max-width: 40%;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .about-text-paragraphs {
    max-width: 40%;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .about-text-paragraphs {
    max-width: 40%;
  }
}
