.artist-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 10px 0 30px 0;
  margin: auto;
  gap: 20px;
  transition: all 0.4s ease-in-out;
}

.links-top, .links-bottom {
  gap: 20px;
}

.link-circle > a {
  color: inherit;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-circle {
  padding: 8px 4px;
  transition: transform 0.2s ease-in-out;
}

.link-circle:hover { transform: var(--hover-up); }

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .artist-links {
    max-width: 40%;
    flex-direction: row;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .artist-links {
    max-width: 40%;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .artist-links {
    max-width: 40%;
  }
}
