/* shared css for all sections */

.main-header-center-align {
  width: 70vw;
  margin: 0 auto;
}

.main-header {
  font-size: 5.5rem;
  text-align: left;
  margin-bottom: 30px;
  font-weight: 700;
}

.aptist-section {
  background: var(--yellow);
}

.aptist-h1 {
  /* font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
  "ROND" 0; */
  margin-top: 70px;
  text-align: center;
}

.new-release-text {
  text-align: center;
  margin-top: auto;
}

.ppf-section {
  background: var(--orange);
  color: var(--white);
}

.little-moon-section {
  background: var(--purple);
  color: var(--yellow);
}

.little-moon-h1 {
  /* font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
  "ROND" 0; */
}
