/*  just aptist banner styling */
.banner {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.wrapper {
  background: var(--main-sequence-purple);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5000;
}

/* shared css for all sections */
.main-header.center-align {
  margin: 0 auto;
}

.main-header {
  font-size: 7.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.aptist-h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.new-release-text {
  text-align: center;
  margin-top: auto;
}

.aptist-section {
  background: var(--main-sequence-purple);
  color: var(--black);
}

.fs-release {
  margin-bottom: 20px;
}

.banner > a {
  color: var(--black);
  transition: transform 0.2s ease-in-out;
}

.banner > a:hover {
  transform: translateY(-2px);
}

.fa-chevron-down {
  font-size: 2rem;
  cursor: pointer;
}

section {
  scroll-margin-top: 6vh;
}

.new-release-links {
  gap: 10px;
  font-size: 1.3rem;
}

.distrokid-link {
  color: inherit;
  font-style: italic;
  text-decoration: underline;
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .main-header {
    font-size: 8rem;
  }
  .aptist-h1 {
    margin: 10px 0 40px 0;
  }
  .main-header-center-align-shamisen {
    width: 70vw;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .main-header {
    font-size: 9rem;
  }
}
