header {
  background: inherit;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.skip {
  color: black;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
