@import url('../components/About/About.css');
@import url('../components/Sections/AptistInfo/AptistInfo.css');
@import url('../components/Navbar/Navbar.css');
@import url('../components/Links/Links.css');
@import url('../components/Releases/AlbumArt.css');
@import url('../components/Releases/Releases.css');
@import url('../components/Sections/section.css');
@import url('../components/ContactForm/ContactForm.css');
@import url('../components/Sections/AboutSection/AboutSection.css');
@import url('../styling/ScrollAnimations.css');

* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.stop-scrolling {
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* variables */
:root {
  --black: #151415;
  --white: #fceafc;
  /* aptist */
  --light-yellow: #e5a83d;
  --yellow: #d2901e;
  --darkish-yellow: #bf8a2e;
  --dark-yellow: #d48907;
  /* first swim */
  --blue: #2ea2cf;
  --dark-blue: #0a4962;
    /* shamisen */
  --taupe: #dfbfbf;
  --dark-taupe: #672e2e;

  /* shadow */
  --shadow-offset: 7px 7px 17px var(--black);
  --shadow-behind: 3px 0 10px var(--black);
  /* border */
  --border: 1px solid var(--black);
  --b-radius: 30px;
  /* hover */
  --hover-up: translateY(-1.5px);
}

/* shared shadow states for specific pages */
.aptist-shadow { box-shadow: 0px 0px 6px var(--dark-yellow); }
.first-swim-shadow { box-shadow: 0px 0px 6px var(--dark-blue); }

/* shared color for specific artists */
.aptist-color { color: var(--black); }
.first-swim-color { color: var(--blue); }
.about-color { color: var(--white); }

/* often used css */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
