@import url('../components/Header/Header.css');
@import url('../components/Header/Overlay.css');
@import url('../components/Releases/Releases.css');
@import url('../components/Sections/section.css');
@import url('../components/About/About.css');
@import url('../components/Links/Links.css');

@import url('../components/Sections/FirstSwimSection/FirstSwimSection.css');
@import url('../components/Sections/ShamisenSection/ShamisenSection.css');
@import url('../components/Sections/ContactForm/ContactForm.css');
@import url('../components/Sections/AboutSection/AboutSection.css');

* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.stop-scrolling {
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

/* variables */
:root {
  --black: #221E22;
  --white: #f2dff2;
  /* aptist */
  --yellow: #d89e39;
  --dark-yellow: #895802;
  /* first swim */
  --blue: #daf3fd;
  --dark-blue: #3b8dae;
  /* paulo post future */
  --orange: #b53308;
  --dark-orange: #7d2305;
  /* little moon */
  --purple: #44355B;
  --dark-purple: #31263E;
  /* shamisen */
  --taupe: #dfbfbf;
  --dark-taupe: #672e2e;

  /* shadow */
  --shadow-offset: 7px 7px 17px var(--black);
  --shadow-behind: 3px 0 10px var(--black);
  /* border */
  --border: 1px solid var(--black);
  --b-radius: 30px;
  /* hover */
  --hover-up: translateY(-3px);
}

/* often used css */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
