.contact {
  background: var(--taupe);
  color: var(--dark-taupe);
}

.form-h1 {
  text-align: center;
  margin: 10px 0 50px 0;
  font-size: 6rem;
}

.info.contact-text {
  margin: 0 auto;
}

form {
  margin-top: 20px;
}

.error-message {
  font-size: 1rem;
  font-style: italic;
  color: rgb(199, 6, 6);
}

label {
  font-size: 1.5rem;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type='text'], input[type='email'], textarea {
  width: 300px;
  height: 20px;
  font-size: 1rem;
  margin: 5px 0 10px 0;
  padding: 5px;
  border: 2px solid rgb(195, 157, 157);
  border-radius: 5px;
  outline: none;
  transition: border 0.2s ease-in-out;
}

textarea {
  width: 300px;
  height: 100px;
  text-align: left;
}

input[type='text']:focus, input[type='email']:focus, textarea:focus {
  border: 2px solid var(--dark-taupe);
}

input[type='submit'] {
  padding: 5px 30px;
  background: var(--dark-taupe);
  color: var(--taupe);
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

input[type='submit']:hover {
  transform: var(--hover-up);
}

input[type='submit']:disabled {
  background: transparent;
  color: var(--dark-taupe);
  cursor: not-allowed;
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .info.contact-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .info.contact-text > p {
    width: 40%;
  }
  form {margin-right: 30px;}
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .info.contact-text > p {
    width: 20%;
  }
  form {margin-right: 30px;}
}
