nav {
  position: fixed;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(80px);
  border-radius: 50px;
  width: 90%;
  height: 6vh;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.aptist-color {
  color: var(--black);
}
.about-color {
  color: var(--white);
}
.contact-color {
  color: var(--dark-taupe);
}

.back-to-top {
  width: 100%;
  height: 100%;
}

.nav-icon {
  width: 30px;
}

.nav-icon-link, .nav-link {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-icon-link {
  font-size: 1.3rem;
}

.nav-icon-link.left {
  margin-left: 20px;
}

.nav-icon-link.right {
  margin-right: 20px;
}

.nav-link {
  margin: 0 30px 8px 0;
  font-size: 3.5rem;
  transition: transform 0.3s ease-in-out;
}

/* .rotated {
  transform: rotate(45deg);
} */

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .header {
    width: 80%;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .header {
    width: 80%;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .header {
    width: 80%;
  }
}
